<h2>Welcome {{user.firstName}}</h2>
<h4>Your stories</h4>
{{#if stories}}
<table class="striped">

  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each stories}}
    <tr>
      <td>
        <a class="story-title" href="/stories/show/{{id}}" aria-label="title">{{title}}</a>
      </td>
      <td>
        <!-- date Format: March 7th 2019 -->
        {{formatDate date 'MMMM do YYYY'}}
      </td>
      <td>
        <span class="dash-status">{{status}}</span>
      </td>
      <td>
        <a href="/stories/edit/{{id}}" class="btn btn-edit left-align" aria-label="edit">
          <i class="fa fa-pencil"></i> Edit
        </a>

        <form action="/stories/{{id}}?_method=DELETE" method="post" class="delete-form">
          <!-- hidden input for changing HTTP verb from POST to DELETE -->
          <input type="hidden" name="_method" value="delete">

          <button type="submit" class="btn btn-delete red">
            <i class="fa fa-remove"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
{{else}}
{{/if}}